body{
    margin: 0;
    background: linear-gradient(to left, rgb(221, 82, 221), rgb(227, 95, 95));
    font-family: cursive;
}
.heading{
    color: aliceblue;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .7);
    font-size: 35px;
    text-align: center;
    letter-spacing: 3px;
    padding-top: 12px;
}
.double-click{
    color: lightcyan;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .7);
    font-size: 18px;
    text-align: center;
}
.con{
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 40px;
    justify-content: center;
    padding: 50px;
}

.note{
    padding: 18px;
    border-radius: 15px;
    resize: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
    font-size: 18px;
    letter-spacing: 2px;
    height: 200px;
    border: none;
    outline: none;
    box-sizing: border-box;
    color: white;
    background-color: rgba(255, 255, 255, .1);
}

.note::placeholder{
    color: grey;
    opacity: .4;
}

.note:hover,.note:focus{
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    transition: all 300ms ease;
}

.btn{
    height: 200px;
    border-color: rgba(255, 255, 255, .4);
    background-color: rgba(255, 255, 255, .25);
    border-radius: 15px;
    font-size: 90px;
    font-weight: 400;
    color: rgba(0, 0, 0, .2);
    cursor: pointer;
}

.btn:hover{
    background-color: rgba(255, 255, 255, .35);
    color: rgba(0, 0, 0, .35);
    transition: all 300ms ease;
}